@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="has-text-danger is-size-2">@ViewData["Title"]</h1>
    <p class="has-text-danger">You do not have access to this resource.</p>
</header>
