@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="is-size-2">@ViewData["Title"]</h1>
<h2 class="is-size-6">Use a local account to log in.</h2>
<hr />
<div class="columns">
    <div class="column is-one-third">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="email" placeholder="Email" autocomplete="email" asp-for="Input.Email" />
                        <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">mail</span>
                        </span>
                    </p>
                </div>
                <span asp-validation-for="Input.Email" class="has-text-danger"></span>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" autocomplete="password" asp-for="Input.Password" />
                        <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                    </p>
                </div>
                <span asp-validation-for="Input.Password" class="has-text-danger"></span>
                <div>
                    <label asp-for="Input.RememberMe" class="checkbox">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>    
                </div>
                <div>
                    <button id="login-submit" type="submit" class="button is-primary my-3">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
