@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1 class="is-size-2">@ViewData["Title"]</h1>
<h2 class="is-size-6">Reset your password.</h2>
<hr />
<div class="columns">
    <div class="column is-one-third">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="email" placeholder="Email" autocomplete="email" asp-for="Input.Email" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">mail</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.Email" class="has-text-danger"></span>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" autocomplete="password" asp-for="Input.Password" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.Password" class="has-text-danger"></span>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Confirm Password" autocomplete="password" asp-for="Input.ConfirmPassword" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
            <button type="submit" class="button is-primary my-3">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
