@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="is-size-2">@ViewData["Title"]</h1>

<p>Nothing here right now. Definitely fill this is before publishing your app!</p>