@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="is-size-4">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="has-text-danger" role="alert"></div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Current Password" autocomplete="password" asp-for="Input.OldPassword" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.OldPassword" class="has-text-danger"></span>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="New Password" autocomplete="password" asp-for="Input.NewPassword" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.NewPassword" class="has-text-danger"></span>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Confirm Password" autocomplete="password" asp-for="Input.ConfirmPassword" />
                    <span class="icon is-small is-left">
                          <span class="material-symbols-rounded">key</span>
                        </span>
                </p>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
            <button type="submit" class="button is-primary my-3">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
